{% extends 'admin/admin_base.html' %}

{% block content %}
    <div class="add-product-page">
        <h1 class="heading text-center">Add New Product</h1>

        <form action="{{ url_for('admin.add_product') }}" method="POST" id="add_product_form" enctype="multipart/form-data">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <label for="product_name">Product Name:</label>
                        <input type="text" id="product_name" name="product_name" required class="form-control"><br><br>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="product_description">Description:</label>
                        <textarea id="product_description" name="product_description" required class="form-control"></textarea><br><br>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="product_price">Price:</label>
                        <input type="number" id="product_price" name="product_price" required class="form-control"><br><br>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="product_quantity">Quantity:</label>
                        <input type="number" id="product_quantity" name="product_quantity" required class="form-control"><br><br>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="category">Category:</label>
                        <select name="category_id" id="category" class="form-control">
                            <option value="">Select Category</option>
                            {% for category in categories %}
                                <option value="{{ category.category_id}}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select><br><br>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="new_category">Or Create New Category:</label>
                        <input type="text" id="new_category" name="new_category" placeholder="(Optional)" class="form-control" oninput="toggleCategory()"><br><br>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="product_image">Product Image:</label>
                        <input type="file" id="product_image" name="product_image" accept="image/*" class="form-control"><br><br>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </div>
            </div>
        </form>

        <script>
            function toggleCategory() {
                const categoryDropdown = document.getElementById('category');
                const newCategoryInput = document.getElementById('new_category');

                if (newCategoryInput.value.trim() !== "") {
                    categoryDropdown.removeAttribute('required');
                } else {
                    categoryDropdown.setAttribute('required', 'required');
                }
            }
            window.onload = function() {
                toggleCategory();
            }
        </script>
    </div>
{% endblock %}
