{% extends 'base.html' %}

{% block title %}
PrimeLane : {{ category.category_name }}
{% endblock %}

{% block content %}
    <h1>Products in {{ category.category_name }}</h1>
    
    {% if category.category_description %}
        <p>{{ category.category_description }}</p>
    {% endif %}
    
    {% if products %}
        <ul class="list-unstyled">
            {% for product in products %}
                <li class="mb-3">
                    <a href="{{url_for('main.product_details', product_id=product.product_id)}}">
                        <div class="card">
                            <div class="row g-0">
                                {% if product.image_url %}
                                    <div class="col-md-4">
                                        <img src="{{ url_for('static', filename='uploads/'+product.image_url) }}" 
                                            class="img-fluid rounded-start" 
                                            alt="{{ product.product_name }}">
                                    </div>
                                {% endif %}
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.product_name }}</h5>
                                        <p class="card-text">
                                            <small class="text-muted">Price: {{ g.rupee_symbol }}{{ product.product_price }}</small>
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">Category: {{ product.category.category_name }}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products found in this category.</p>
    {% endif %}

    <a href="{{ url_for('main.home') }}" class="btn btn-primary mt-4">Back to Home</a>
{% endblock %}
