{% extends 'base.html' %}

{% block title %}PrimeLane{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="welcomeHome">
    <img src="{{url_for('static', filename='images/Background.png')}}" alt="" class="homeImg">
</div>

<!-- Category Section -->
<div class="container mt-5">
    <h2 class="mt-5 mb-5 text-center">Shop by Categories</h2>
    
    <div class="row">
        {% for category in categories %}
        <div class="col-md-12 mb-5">
            <h3>{{ category.category_name }}</h3>
            <!-- Horizontal Scrolling for Products in Category -->
            <div class="category-scroll d-flex flex-row overflow-auto">
                {% for product in category_products[category.category_id] %}
                <div class="card" style="width: 18rem;">
                    <a href="{{ url_for('main.product_details', product_id=product.product_id) }}">
                        <img src="{{ url_for('static', filename='uploads/' + (product.image_url if product.image_url else 'default.jpg')) }}" class="card-img-top" alt="{{ product.product_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="card-text">{{ g.rupee_symbol }}{{ product.product_price }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- Explore More Button -->
             <button class="addToCart mt-4">
                <a href="{{ url_for('main.category_products', category_id=category.category_id) }}" class="text-decoration-none text-white">Explore More</a>
            </button>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
