{% extends 'base.html' %}

{% block title %}
Product Details - {{ product.product_name }}
{% endblock %}

{% block content %}
    <h1>{{ product.product_name }}</h1>
    
    {% if product.image_url %}
        <div>
            <img src="{{ url_for('static', filename='uploads/' + product.image_url) }}" 
                 alt="{{ product.product_name }}" class="img-fluid">
        </div>
    {% endif %}
    
    <p><strong>Description:</strong> {{ product.product_description }}</p>
    <p><strong>Price:</strong> {{ g.rupee_symbol }}{{ product.product_price }}</p>
    <p><strong>Category:</strong> {{ product.category.category_name }}</p>
    
    {% if product.product_quantity <= 10 %}
        <p>Only {{ product.product_quantity }} left in stock!</p>
    {% elif product.product_quantity > 10 %}
        <p>In stock</p>
    {% else %}
        <p>Out of stock</p>
    {% endif %}

{% endblock %}
